<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyeon2.mappers.CompanyMapper">

	<!-- 발주 목록 확인 메소드 -->
	<select id="orderList" resultType="com.pyeon2.vo.ItemVO">
		select * from orderReq order by p2_time
	</select>
	
	<!-- 발주 승인 시 해당 지점의 재고 갯수 추가해주는 메소드 -->
	<update id="updateItemCount" >
		update p2_item set count = count + #{count} where item_code = #{item_code} and area = #{area} 
	</update>
	
	<!-- 발주 승인 후 발주신청 목록 제거 메소드 -->
	<delete id="odertDelete">
		delete from orderReq where item_code = #{item_code} and area = #{area}
	</delete>

</mapper>