<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.lws.dao.ItemMapper">

	<resultMap type="com.pyeon2.vo.ItemVO" id="ProductResultMap">
		<result property="item_code" column="item_code"/>
		<result property="item_name" column="item_name"/>
		<result property="item_image" column="item_image"/>
		<result property="price" column="price"/>
		<result property="count" column="count"/>
		<result property="hit" column="hit"/>
		<result property="category" column="category"/>
		<result property="area" column="area"/>
	</resultMap>
	
	<!-- id의 경우에는 Mapper.java에 동일하게 사용해야 된다. -->
	<select id="getList" resultMap="ProductResultMap">
		SELECT * FROM p2_item
	</select>
	
	<select id="selectName" resultMap="ProductResultMap" parameterType="com.pyeon2.vo.ItemVO">
		SELECT * FROM p2_item where item_name = #{item_name}
	</select>
	
	<delete id="Delete" parameterType="com.pyeon2.vo.ItemVO">
		delete from p2_item where item_code = #{item_code} and area = #{area}
	</delete>

</mapper>